<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
<router id="standard">  <!-- to register a router we need to add to this: <router id="standard">, and if we wanted an admin router we do this: <router id="admin"> -->
    <route id="helloworld" frontName="helloworld">  <!-- here id is simply an identifier and frontname is going to be the first part of URL-->
        <module name="Techlogix_HelloWorld" />
    </route>
</router>
</config>